@media (max-width: 1120px) {
  .navbar {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 120px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 50px;
  }
  
  .portrait {
    width: 80px;
    height: auto;
    margin: 0;
  }

  .list-item {
    display: inline-block;
    line-height: 1;
    padding: 0 10px;
    background: transparent;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    font-weight: bold;
  }

  .list-item:nth-child(even) {
    right: inherit;
  }

  .list-item:hover {
    transform: none;
  }

  .nav-link:active {
    transform: scale(1.05);
    color: var(--primary-orange);
  }

  section {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .header {
    width: auto;
    padding: 0 6em;
    margin-top: 40%;
  }

  .section .container {
    width: auto;
  }

  #interests .container > p {
    width: auto;
  }
}

@media (max-width: 812px) {
  .menu-button {
    display: block;
    position: absolute;
    right: 40px;
  }

  .nav-list {
    position: absolute;
    right: 0px;
    top: 100px;
    background: var(--primary-oposite-colour);
    padding: 10px;
    text-align: center;
  }

  .list-item {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
  }

  .list-item:nth-child(even) {
    right: 0;
  }
}